<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
<h1>对钻石表进行可视化分析</h1>
    <h2>长条图</h2>
        <div id="chart" class="chart"></div>
</body>

<body style="font-family:arial, sans-serif">
    <h2>条形图</h2>
        <div id="chart1" class="chart1"></div>
</body>

<body style="font-family:arial, sans-serif">
    <h2>散点图</h2>
        <div id="chart2" class="chart2"></div>
</body>

<body style="font-family:arial, sans-serif">
    <h2>箱型图</h2>
        <div id="chart3" class="chart3"></div>
</body>

<body style="font-family:arial, sans-serif">
    <h2>直方图</h2>
        <div id="chart4" class="chart4"></div>
</body>

<body style="font-family:arial, sans-serif">
    <h2>堆积区域图</h2>
        <div id="chart5" class="chart5"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>对小票进行可视化分析</h1>
    <h2>长条图</h2>
<!--    <input type="text" id="fname" name="fname" onchange="cb(this.value)">-->
    <div id="chart6" class="chart6"></div>
</body>

<body style="font-family:arial, sans-serif">
<h2>条形图</h2>

<!--    <input type="text" id="fname1" name="fname1" onchange="cb(this.value)">-->
    <div id="chart7" class="chart7"></div>
</body>

<!--<body style="font-family:arial, sans-serif">-->
<!--<h2>散点图</h2>-->

<!--&lt;!&ndash;    <input type="text" id="fname2" name="fname2" onchange="cb(this.value)">&ndash;&gt;-->
<!--    <div id="chart8" class="chart8"></div>-->
<!--</body>-->

<body style="font-family:arial, sans-serif">

<h2>并行类别图</h2>
<!--    <input type="text" id="fname4" name="fname4" onchange="cb(this.value)">-->
    <div id="chart9" class="chart9"></div>
</body>

<body style="font-family:arial, sans-serif">

<h2>直方图</h2>

<!--    <input type="text" id="fname5" name="fname5" onchange="cb(this.value)">-->
    <div id="chart10" class="chart10"></div>
</body>
<h2>箱型图</h2>

<!--    <input type="text" id="fname6" name="fname6" onchange="cb(this.value)">-->
    <div id="chart11" class="chart11"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
<script>
    d = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d, {});
</script>
<script>
    d = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d, {});
</script>
<script>
    d = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d, {});
</script>
<script>
    d = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d, {});
</script>
<script>
    d = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d, {});
</script>
<script>
    d = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d, {});
</script>
<script>
    d = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', d, {});
</script>
<!--<script>-->
<!--    d = {{ graphJSON8 | safe }};-->
<!--    Plotly.newPlot('chart8', d, {});-->
<!--</script>-->
<script>
    d = {{ graphJSON9 | safe }};
    Plotly.newPlot('chart9', d, {});
</script>
<script>
    d = {{ graphJSON10 | safe }};
    Plotly.newPlot('chart10', d, {});
</script>
<script>
    d = {{ graphJSON11 | safe }};
    Plotly.newPlot('chart11', d, {});
</script>
</html>
