<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
<h1>长条图</h1>
    <div id="chart" class="chart"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>条形图</h1>
    <div id="chart1" class="chart1"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>散点图</h1>
    <div id="chart2" class="chart2"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>箱型图</h1>
    <div id="chart3" class="chart3"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>直方图</h1>
    <div id="chart4" class="chart4"></div>
</body>

<body style="font-family:arial, sans-serif">
<h1>堆积区域图</h1>
    <div id="chart5" class="chart2"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
<script>
    d = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d, {});
</script>
<script>
    d = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d, {});
</script>
<script>
    d = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d, {});
</script>
<script>
    d = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d, {});
</script>
<script>
    d = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d, {});
</script>
</html>
