<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Resume stuff</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name"><div class="abs-center">罗金丽</div></div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <p class="logo-text">LJL</p>
            </div>
        </div>
        <p>{{person.job}}</p>
        <p>{{person.address}}</p>
        <p>{{person.tel}}</p>
        <p>{{person.email}}</p><br>
        <p class="rela-block social twitter">Twitter stuff</p>
        <p class="rela-block social pinterest">Pinterest things</p>
        <p class="rela-block social linked-in">Linked-in man</p>
        <p class="rela-block caps side-header">专业知识</p>
        <p class="rela-block list-thing">Java Web</p>
        <p class="rela-block list-thing">python</p>
        <p class="rela-block list-thing">C/C++</p>
        <p class="rela-block list-thing">SQL</p>
        <p class="rela-block caps side-header">教育</p>
        <p class="rela-block list-thing">湖北师范大学</p>
        <p class="rela-block list-thing">软件工程</p>
        <p class="rela-block list-thing">Knitting game on point</p>
        <p class="rela-block list-thing">Culinary af</p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">python前端开发</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">个人简介</div>
        <p>本人性格开朗、稳重、有活力，待人热情、真诚;工作认真负责，积极主动，能吃苦耐
            劳，用于承受压力，勇于创新;有很强的组织能力和团队协作精神，具有较强的适应能力;
            纪律性强，工作积极配合;意志坚强，具有较强的无私奉献精神。对待工作认真负责，善于
            沟通、协调有较强的组织能力与团队精神;活泼开朗、乐观上进、有爱心并善于施教并行;
            上进心强、勤于学习能不断提高自身的能力与综合素质。在未来的工作中，我将以充沛的精
            力，刻苦钻研的精神来努力工作，稳定地提高自己的工作能力，与企业同步发展，
            熟悉C、Java、python等语言。</p>
        <div class="rela-block caps greyed">个人经历</div>
        <h3>第一个项目</h3>
        <p class="light">第一个项目描述</p>
        <p><a href="{{url_for('chart')}}" target="_blank">近期作品</a></p>
        <p class="justified">Plaid gentrify put a bird on it, pickled XOXO farm-to-table irony raw denim messenger bag leggings. Hoodie PBR&B photo booth, vegan chillwave meh paleo freegan ramps. Letterpress shabby chic fixie semiotics. Meditation sriracha banjo pour-over. Gochujang pickled hashtag mixtape cred chambray. Freegan microdosing VHS, 90's bicycle rights aesthetic hella PBR&B. </p>
        
        <h3>第二个项目</h3>
        <p class="light">第二个项目描述</p>
        <p class="justified">Beard before they sold out photo booth distillery health goth. Hammock franzen green juice meggings, ethical sriracha tattooed schlitz mixtape man bun stumptown swag whatever distillery blog. Affogato iPhone normcore, meggings actually direct trade lomo plaid franzen shoreditch. Photo booth pug paleo austin, pour-over banh mi scenester vice food truck slow-carb. Street art kogi normcore, vice everyday carry crucifix thundercats man bun raw denim echo park pork belly helvetica vinyl. </p>
        
        <h3>第三个项目</h3>
        <p class="light">第三个项目描述</p>
        <p class="justified">Next level roof party lo-fi fingerstache skateboard, kogi tumblr. Shabby chic put a bird on it chambray, 3 wolf moon swag beard brooklyn post-ironic taxidermy art party microdosing keffiyeh marfa. Put a bird on it 3 wolf moon cliche helvetica knausgaard. Mumblecore fingerstache lomo, artisan freegan keffiyeh paleo kinfolk kale chips street art blog flannel.</p>
    </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="../static/js/script.js"></script>

</body>
</html>
