<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ljl</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name"><div class="abs-center">罗金丽</div></div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <p class="logo-text">信息</p>
            </div>
        </div>
        <p>职位:{{person.job}}</p>
        <p>地址:{{person.address}}</p>
        <p>电话:{{person.tel}}</p>
        <p>邮箱:{{person.email}}</p><br>
        <p class="rela-block social twitter">语言:中文、英文</p>
        <p class="rela-block social pinterest">兴趣爱好:打篮球、看电影、听歌</p>
        <p class="rela-block social linked-in">最熟悉的编程语言:python、C、C++</p>
        <p class="rela-block caps side-header">专业知识</p>
        <p class="rela-block list-thing">Java Web</p>
        <p class="rela-block list-thing">python</p>
        <p class="rela-block list-thing">C/C++</p>
        <p class="rela-block list-thing">SQL</p>
        <p class="rela-block list-thing">HTML</p>
        <p class="rela-block caps side-header">教育</p>
        <p class="rela-block list-thing">湖北师范大学</p>
        <p class="rela-block list-thing">软件工程</p>
        <p class="rela-block list-thing">2018~2022</p>
        <p class="rela-block caps side-header">简历模板</p>
        <p class="rela-block list-thing"><a href="https://codepen.io/mavrK/pen/PzGvdJ">简历模板链接</a></p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">python技术开发</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">个人简介</div>
        <p class="justified">本人性格开朗、稳重、有活力，待人热情、真诚;工作认真负责，积极主动，能吃苦耐
            劳，用于承受压力，勇于创新;有很强的组织能力和团队协作精神，具有较强的适应能力;
            纪律性强，工作积极配合;意志坚强，具有较强的无私奉献精神。对待工作认真负责，善于
            沟通、协调有较强的组织能力与团队精神;活泼开朗、乐观上进、有爱心并善于施教并行;
            上进心强、勤于学习能不断提高自身的能力与综合素质。在未来的工作中，我将以充沛的精
            力，刻苦钻研的精神来努力工作，稳定地提高自己的工作能力，与企业同步发展，
        熟悉C、Java、python等语言。</p>
        <div class="rela-block caps greyed">项目经历</div>
        <h3>项目一:对钻石列表和餐馆的订单流水进行可视化分析</h3>
        <p class="light">个人项目</p>
        <p class="justified">项目描述：该项目是由老师组织的一个项目，使用git工具，对现有的数据进行可视化分析，并使用git工具，上传到
        个人项目（heroku）中。个人工作：使用python语言，对现有的数据进行可视化分析，并以链接的形式上传到heroku中，并对表进行说明。</p>
        <p><a href="{{url_for('chart')}}" target="_blank">对砖石列表和餐馆的订单流水可视化分析</a></p>
        
        <h3>项目二:使用python语言编写坦克大战小游戏</h3>
        <p class="light">团队项目</p>
        <p class="justified">项目描述：该项目是老师组织学生开发的一个项目，单机版的坦克大战，使用python语言进行项目开发，该项目区别与
        传统的坦克大战，相对于传统的坦克大战，该项目新增模式，既有传统项目样子，也有项目本身的特点。个人工作：在该项目中，本人属于开发人员，
        对地图的设计和坦克的设计，地图设计中，添加趣味地图，坦克运行轨迹，随机方向等设计。</p>
        <p><a href="https://zhuanlan.zhihu.com/p/382597679">作品链接</a></p>
        
        <h3>项目三:使用python爬取英文取名数据数据并进行可视化分析</h3>
        <p class="light">个人项目</p>
        <p class="justified">项目描述：使用python爬虫工具，在网上爬取数据，并把爬取的数据进行可视化，使用python爬虫工具，到需要爬取的数据
        的网页中，抓取自己需要的数据，并进行保存，并使用可视化工具，对数据进行可视化分析，并以博客的形式上传到网上。</p>
        <p><a href="https://blog.csdn.net/weixin_48699354/article/details/112200612?utm_source=app&app_version=4.9.3&utm_source=app">作品链接</a></p>
    </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="../static/js/script.js"></script>

</body>
</html>
